body {
  margin: 0px;
  padding: 0px;
  background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  color: hsl(229, 64%, 46%);
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 1px;
}

h3 {
  color: white;
}

li {
  list-style: none;
  font-size: 20px;
}

.header {
  border-style: solid;
  border-radius: 10px;
  margin: 3% 15%;
  padding: 2%;
  border-color: hsl(217, 16%, 45%);
}

.score {
  position: absolute;
  left: 900px;
  top: 90px;
  text-align: center;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}

#score-points {
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  font-size: 70px;
}

/****** Rock Paper Scissors ******/
main {
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  height: 300px;
  margin-left: 500px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.icon {
  background-color: white;
  border-radius: 100px;
  border-width: 15px;
  display: inline-block;
  border-style: solid;
  height: 75px;
  width: 75px;
  padding: 40px;
  z-index: +1;
  box-shadow: 0 5px 2px 4px #aaaaaa inset;
}

.paper {
  border-color: hsl(230, 89%, 62%);
}

.scissors {
  border-color: hsl(39, 89%, 49%);
}

.rock {
  border-color: hsl(349, 71%, 52%);
}

/******** Main Screen Icon *******/
.paper-main {
  display: inline-block;
  position: relative;
  top: -80px;
  left: -80px;
  cursor: pointer;
}

.rock-main {
  display: inline-block;
  position: relative;
  top: 180px;
  left: -320px;
  cursor: pointer;
}

.scissors-main {
  display: inline-block;
  position: relative;
  top: -80px;
  right: -10px;
  cursor: pointer;
}

/********* Versus Screen *******/
#versusScreen {
  height: 500px;
  text-align: center;
}

.playersChoiceScreen {
  position: relative;
  top: 70px;
  left: -250px;
}

.computerChoiceScreen {
  position: relative;
  top: -275px;
  left: 215px;
}

#winnerScreen {
  align-self: center;
  width: 300px;
  text-align: center;
  position: relative;
  left: 525px;
  top: -100px;
}

/********* Rules *********/
.rules {
  float: right;
}

#ruleImage {
  background-color: white;
  border-radius: 25px;
  position: absolute;
  margin-top: -500px;
  margin-left: 460px;
  padding: 45px;
  width: 304px;
  height: auto;
  box-shadow: 0 0 0 999em rgba(0, 0, 0, 0.8);
}

#ruleImage>h1 {
  color: hsl(229, 25%, 31%);
  padding: 5%;
}

.closeButton {
  position: absolute;
  display: inline-block;
  margin-left: 250px;
  margin-top: -50px;
}

.button {
  padding: 10px 30px;
  margin: 10px;
  background-color: transparent;
  border-radius: 10px;
  border-color: white;
  color: white;
}

.playAgain {
  background-color: white;
  color: hsl(229, 25%, 31%);
  padding: 20px 50px;
  border-radius: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

footer {
  position: fixed;
  margin-bottom: auto;
  min-height: 100%;
}

/********* Large Desktop Screens ********/
@media screen and (min-width: 1445px) {

  .score {
  position: absolute;
  left: 1300px;
  top: 90px;
  text-align: center;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}

  main {
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  height: 300px;
  margin-left: 800px;
  margin-top: 150px;
  margin-bottom: 100px;
}

#ruleImage {
  position: absolute;
  margin-left: 700px;
}

#winnerScreen {
  align-self: center;
  width: 300px;
  text-align: center;
  position: relative;
  left: 785px;
  top: 100px;
}

}


/********* Mobile ********/
@media screen and (max-width: 660px) {

  main {
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  height: 300px;
  margin-left: 800px;
  margin-top: 150px;
  margin-bottom: 100px;
}

/***** Header ******/

ul {
  padding-left: 4%;
}

  .header {
    margin: 5% 10%;
    padding: 2%;
  }

  .score {
  position: absolute;
  left: 255px;
  top: 50px;
  text-align: center;
  padding: 5px;
  width: 75px;
  height: 75px;
}

#score-points {
  font-size: 50px;
}

  main {
  margin-left: 50px;
  margin-top: 50px;
}

/*** Rules Popup *****/

#ruleImage {
  position: absolute;
  margin-top: -500px;
  margin-left: 30px;
  padding: 25px;
  width: 300px;
}

/***** RPS Game *****/

.icon {
  height: 50px;
  width: 50px;
  padding: 30px;
}

.paper-main {
  position: relative;
  top: -40px;
  left: -30px;
}

.rock-main {
  position: relative;
  top: 60px;
  left: 80px;
}

.scissors-main {
  position: relative;
  top: -40px;
  right: -50px;
}
#versusScreen {
  height: 500px;
  text-align: center;
}

/**** Results Screen *****/

.playersChoiceScreen {
  position: relative;
  top: 70px;
  left: -100px;
}

.computerChoiceScreen {
  position: relative;
  top: -230px;
  left: 100px;
}

#winnerScreen {
  align-self: center;
  width: 300px;
  text-align: center;
  position: relative;
  left: 60px;
  top: 100px;
}

}
